<!-- footer container -->
<!-- <div> -->


<div>

	<div class="row_lm">
		<div class="content_wrap">
			<%=render "refinery/pages/shared/footer/footer_link"%>
		</div>
	</div>

	<div>
		<div class="row_lm">

			<div class="max_w_100 mar_auto content_wrap footer_img">
				<%= render "refinery/pages/shared/footer/footer_contact"%>
			</div>

			<div class="bck_green_3 c_white_all pad_05 footer_bottom">
				<%= render "refinery/pages/shared/footer/footer_link_bottom"%>
			</div>

		</div>		
	</div>
</div>