<!-- header container -->
<!-- <div> -->
<div class="relative z2">	
	<!-- header -->
	<div class="header_x bck_white relative">
		<%= render "refinery/pages/shared/header/header_top"%>
	</div>

	<!-- menu -->
	<div class="only_900 relative z2">
		<%= render "refinery/pages/shared/header/header_menu_web"%>
	</div>

	<!-- menu mobile -->
	<div class="absolute_default wh100p content_wrap unselected z99 menu_mobile to_900 max_w_100p overflow_auto" id="menu_mobile">
		<%= render "refinery/pages/shared/header/header_menu_mobile"%>
	</div>
</div>

	
<!-- </div> -->