.full_slider.swiper-container-autoheight, .full_slider.swiper-container-autoheight .swiper-slide{
	height: 100%;
}
.full_h_slide.swiper-container-autoheight,
.full_h_slide.swiper-container-autoheight .swiper-slide{
	height: 100%;
}

.swiper-button-next, .swiper-button-prev{
	width: 17px;
	height: 27px;
	/*background size*/
	-webkit-background-size: 17px 27px;
	-moz-background-size: 17px 27px;
	-o-background-size: 17px 27px;
	background-size: 17px 27px;
}



/*pagination next prev*/
.swiper-button-next, .swiper-button-prev{
	top: 0;
	bottom: 0;
	margin: auto;
}
