<!-- video -->
<div class="row_lm">
	<div class="content_wrap">
		<div class="max_w_100 mar_auto bck_gray2">
			<div class="h20_240_st h30_360_st h40_700_st h50_900_st relative">
				<div id="player"></div>
			</div>
		</div>
	</div>
</div>
			