<!-- menu mobile -->
<div class="absolute_default wh100p midd_container">
	
	<!-- menu container -->
	<div class="relative text-center z2 midd_cell w100p max_w_30 box_sizing h100p	">			
		<!-- links -->
		<div class="menu_mobile_links_container relative z1">
			<%=mobile_presenter.to_html%>
			
		</div>

		<!-- close -->
		<div class="fixed wh3 menu_icon_close_container" onclick="javascript:unhide('menu_mobile');unhide('body_container');">
			<div class="menu-icon">
			  <div class="line top"></div>
			  <div class="line right"></div>
			  <div class="line bottom"></div>
			  <div class="line left"></div>
			</div>
		</div>

	</div>

</div>


