<!-- menu -->
<div class="only_900 relative z2">
	<div class="bck_gray9">
		<div class="max_w_100 mar_auto">
			<div class="inline_divs c_white_all">
				<%=menu_presenter.to_html%>
			</div>
		</div>
	</div>
</div>
