<!-- intro -->
<div class="bck_gray1 relative">
	<div class="description_head max_w_100 mar_auto bck_cover pad_lr_5_900_st ">

		<div class="midd_container h40_240_st h30_480_st h40_700_st w40_900_st w35_900_st pad_t_3_240_st pad_t_0_900_st intro_subpage">
			<div class="midd_cell pad_2  relative z2">
				
				<div class="content_wrap">
					<!-- title -->
					<div class="title_subpage">
						lorem test
					</div>

					<div class="description_subpage body_text_2">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nesciunt inventore praesentium doloribus fuga provident, eos quod assumenda at, reprehenderit dolore deleniti, qui dolores, quidem saepe possimus velit aperiam sit!
					</div>
				</div>

			</div>

		</div>
	</div>
</div>