<!-- image + social -->
<!-- <div class="max_w_100 mar_auto content_wrap footer_img"> -->


	
	
	<div class="column_container social_container">
		<!-- info -->
		<div class="column_1 g_s900_50p g_s1024_60p fs_12 pad_l_10_1024_st">
			<div class="c_green_1 italic bolder">Sucursal Telefónica</div>
			<div class="c_green_2 fs_25 lh_3 bolder"><a href="tel:+50522559595" class="c_green_2">2255-9595</a></div>
			<div class="c_green_1 space-05">Atención al Cliente Ext. 39442 - 33027</div>
			<div class="c_green_1_all light space-05"><a href="mailto:info@provalores.com.ni">info@provalores.com.ni</a></div>
		</div>

		<!-- social -->
		<div class="inline_divs social column_1 g_s900_50p g_s1024_40p pad_t_2_240_st">
			<a href="https://www.facebook.com/provaloresnicaragua/" class="wh3 bck_green_1 circle relative">
				<span class="icon icon_facebook_w wh50p center_absolute"></span>

			</a>
			<a href="#" class="wh3 bck_green_1 circle relative">
				<span class="icon icon_instagram_w wh50p center_absolute"></span>
				
			</a>
			<a href="https://es.linkedin.com/company/provalores-puesto-de-bolsa" class="wh3 bck_green_1 circle relative">
				<span class="icon icon_linkedin_w wh50p center_absolute"></span>
				
			</a>
			<a href="#" class="wh3 bck_green_1 circle relative">
				<span class="icon icon_twitter_w wh50p center_absolute"></span>
				
			</a>
			<a href="https://www.youtube.com/channel/UCN-G8FMt-mg5w4eP5Itb9hQ" class="wh3 bck_green_1 circle relative">
				<span class="icon icon_youtube_w wh50p center_absolute"></span>
				
			</a>
		</div>
	</div>



<!-- </div> -->
