<!-- footer links -->
<!-- <div class="bck_green_3 c_white_all pad_05 footer_bottom"> -->




	<div class="max_w_100 mar_auto">
		<div class="max_w_100 mar_auto text-right just_inline_divs fs_1 v_mid_all pad_05 keep_all">
			<a href="">©2018 Banpro Grupo Promerica</a>
			<div class="">|</div>
			<a href="">Términos y Condiciones de uso</a>
			<div class="">|</div>
			<a href="">Recomendaciones de Seguridad</a>
		</div>
	</div>



<!-- </div> -->
