<div>
<%= render "/refinery/pages/shared/header"%>
</div>
<div>
<%= render "/refinery/pv_board_directors/pv_board_directors/junta_directiva/junta_directiva_page_wrap"%>
</div>
<div>
<%= render "/refinery/pages/shared/footer"%>
</div>