<%= render 'refinery/admin/search_header', :url => refinery.pv_interest_links_admin_pv_interest_links_path %>
<div class='pagination_container'>
  <% if @pv_interest_links.any? %>
    <%= render 'pv_interest_links' %>
  <% else %>
    <p>
      <% if searching? %>
        <%= t('no_results', :scope => 'refinery.admin.search') %>
      <% else %>
        <strong>
          <%= t('.no_items_yet') %>
        </strong>
      <% end %>
    </p>
  <% end %>
</div>
