<%= render "/refinery/pages/shared/header"%>

<div>
	<%= render "/refinery/pv_categories/pv_categories/categoria/categoria_intro"%>
	<%= render "/refinery/pv_categories/pv_categories/categoria/categoria_contenido"%>
</div>

<%= render "/refinery/pages/shared/footer"%>